---
import { navItems } from "../../const/navItems";
import HeaderDesktop from "./components/HeaderDesktop.astro";
import HeaderMobile from "./components/HeaderMobile.astro";
---

<div class="hidden md:block">
  <HeaderDesktop navItems={navItems} />
</div>
<div class="block md:hidden">
  <HeaderMobile navItems={navItems} />
</div>
